[Desktop Entry]
Encoding=UTF-8
Name=Link to HOWTO play Tetris forever - Boing Boing
Type=Link
URL=https://boingboing.net/2013/05/02/howto-play-tetris-forever.html
Icon=text-html
